{{yield}}
<div class="form-group">
   <div class="col-md-3">Title:</div>
   <div class="col-md-9">
      {{input value=bug.title class="form-control"}}
   </div>
</div>
<div class="form-group">
   <div class="col-md-3">Description:</div>
   <div class="col-md-9">
      {{textarea value=bug.description class="form-control"}}
   </div>
</div>
<button
      id="save_bug_btn_id"
      class="btn btn-default"
   {{action 'saveBug' bug}}>
   Save bug
</button>
