<h1>New bug 2</h1>

{{#bug-editor model saveRedirect='afterNew'}}{{/bug-editor}}

<p>***************************************************************</p>

<div>Title: {{input value=model.title}}</div>
<div>Desc: {{textarea value=model.description}}</div>

<button id="save_bug_btn_id" {{action 'saveBug' model}}>Save bug</button>

{{outlet}}
