<h2 id="title">Welcome to Ember 2</h2>
<ul>
   <li>{{#link-to "index"}}Home{{/link-to}}</li>
   <li>{{#link-to "bugs"}}Creating bugs{{/link-to}}</li>
   <li>{{#link-to "gituser"}}Git user{{/link-to}}</li>
</ul>


{{outlet}}
