<button id="create_bug_btn_id" {{action "createBug"}}>Create bug</button>
<button id="find_bug_btn_id" {{action "findBug"}}>Find bug</button>
<button id="edit_bug_btn_id" {{action "editBug"}}>Edit bug</button>

{{outlet}}
